---
layout: default
title: eltados
---

{% for post in site.posts limit:5 %}
  <div class="post">
        <h1>{{ page.title }}</h1>
        {% if page.image %}
        <img src="{{page.image}}" class="icon"/>
        {% endif %}
        <div class="content">
            {{ content }}
        </div>
        <div class="date">
            Posted on the {{ post.date | date_to_long_string }}
        </div>
        {% if page.source %}
        <div class="source">
           find more on :<a href="{{page.source}}">{{page.source}}</a>
        </div>
        {% endif %}
        <div id="disqus_thread" class="comments">
            <script type="text/javascript">
                  (function() {
                   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                   dsq.src = 'http://eltados.disqus.com/embed.js';
                   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=eltados">comments powered by Disqus.</a></noscript>

        </div>
    </div>
{% endfor %}